* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

/* style for navbar */

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(12px);
  color: white;
  height: 60px;
  padding-left: 10px;

  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-image-slice: 1;
}

/* style for banner */
.banner-container {
  padding-bottom: 30px;
}
.banner-container {
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(226, 28%, 16%, 1)'/><path d='M50 25L37.5 50 25 25 37.5 0zm-25 0L12.5 50 0 25 12.5 0z'  stroke-width='1' stroke='hsla(0, 0%, 20%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.bannerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;

  gap: 10px;
}

.bannerLeft,
.bannerRight {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 47%;
}

.taglines {
  font-size: 5rem;
  padding: 6rem 1rem;
}
.tag1 {
  color: #bd1052;
}
.tag2 {
  color: #545ffd;
}
.tag3 {
  color: #a2a2a2;
}
.tag4 {
  color: #019267;
}
.tag5 {
  color: #f1ae50;
}

/* style for 3d box */

.box {
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 800px;
  transform-style: preserve-3d;
  animation: rotateBox 20s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.left {
  transform: translateX(-100px) rotateY(-90deg);
}

.right {
  transform: translateX(100px) rotateY(90deg);
}

.top {
  transform: translateY(-100px) rotateX(90deg);
  animation: rotateTop 10s infinite linear;
}

.bottom {
  transform: translateY(100px) rotateX(-90deg);
  animation: rotateBottom 10s infinite linear;
}

@keyframes rotateBox {
  0% {
    transform: rotateY(0);
  }
  20% {
    transform: rotateY(1turn);
  }
  40% {
    transform: rotateY(45deg) rotateX(-180deg);
  }
  60% {
    transform: rotateY(45deg) rotateX(180deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.bannerBtn {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 96%;
  margin: auto;
  gap: 20px;
}

.servicesContainer {
  background-color: #1e222e;
  padding-top: 30px;
  padding-bottom: 50px;
}

.serviceHeading,
.serviceDetail {
  text-align: center;
  color: white;
}
.serviceHeading {
  font-size: 2.2rem;
  margin-bottom: 30px;
}
.serviceDetail {
  font-weight: bold;
  font-size: 1.2rem;
}

.cardContainer {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  color: white;
  gap: 30px;
}

.card {
  background: #242836;
  padding: 1rem;
  border: 1px solid #666;
}

.card a {
  text-decoration: none;
  color: rgb(39, 158, 255);
}
.card h2 {
  font-size: large;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s;
}
.card:hover img {
  transform: scale(1.1);
}

/* style for expertise */

.expertise {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 50px;
}
.expertiseHeading {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.expertiseDetail {
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(100, 100, 100);
  line-height: 27px;
}

.teckStackContainer {
  width: 82%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  gap: 25px;
  margin: auto;
}

.teckImagediv {
  width: 30px;
}
.teckText {
  font-size: large;
  font-weight: bold;
}
.teckImagediv img {
  width: 100%;
}

.teckCard {
  display: flex;
  height: 65px;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #ffffff4a;
  box-shadow: 2px 14px 20px 6px rgba(224, 230, 235, 0.58);
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
}

.btncoverExpertise {
  margin-top: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BookingContainer {
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-image-slice: 1;

  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(226, 28%, 16%, 1)'/><path d='M50 25L37.5 50 25 25 37.5 0zm-25 0L12.5 50 0 25 12.5 0z'  stroke-width='1' stroke='hsla(0, 0%, 20%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.innerBody {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}
.bookingHeading {
  color: white;
  text-align: center;
  font-size: 2.5rem;
}
.bookingDetail {
  text-align: center;
  color: white;
  font-size: 3.25rem;
  font-weight: bold;
  margin-top: 100px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #0f121b;
  padding-top: 80px;
}

.innerFootrdiv {
  width: 98%;
  margin: auto;
  padding-bottom: 55px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.innerFootrdiv ul {
  list-style-type: none;
}

.footerparaagraf {
  text-align: justify;
  line-height: 35px;
}
.footerheading1 {
  font-size: 30px;
  font-weight: bold;
}

.footerheader2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

.footerul1 {
  width: 38%;
}
.footerul1 li {
  margin-top: 47px;
}

.footerUl2 li {
  margin-top: 20px;
  color: rgb(207, 207, 207);
}

.footerUl2 li:hover {
  color: rgb(81, 81, 255);
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  font-size: 23px;
}

.copyright {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}
.copyright p {
  text-align: center;
}

@media screen and (max-width: 930px) {
  .bannerFlex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;

    gap: 10px;
  }
  .bannerLeft,
  .bannerRight {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
  }
  .taglines {
    text-align: left;
    font-size: 2.5rem;
    padding: 6rem 0rem;
  }

  .bannerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin: auto;
    gap: 20px;
  }
  .serviceHeading {
    text-align: center;
    width: 90%;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 30px;
  }
  .serviceDetail {
    width: 90%;
    margin: auto;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .cardContainer {
    width: 85%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    gap: 30px;
  }
  .teckStackContainer {
    width: 85%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: auto;
  }
  .teckCard {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #ffffff4a;
    box-shadow: 2px 14px 20px 6px rgba(224, 230, 235, 0.58);
    padding: 0.5rem 0.25rem;
    border-radius: 5px;
  }

  .bookingHeading {
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  .bookingDetail {
    text-align: center;
    color: white;
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 70px;
  }

  .innerFootrdiv {
    width: 92%;
    margin: auto;
    padding-bottom: 55px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }
  .footerul1 {
    width: 98%;
  }
}
